body {
    background-color: lightblue;
}

h1 {
    color: navy;
    margin-left: 20px;
}

.az-header {
    text-align: center;
    font-family: Lobster, Monospace;
    font-size: 50px;
}

.az-footer {
    text-align: left;
    position: fixed;
    bottom: 0;
}

.az-image {
    margin: auto;
    height: 1000px;
    width: 1000px;
}